/* Voting box */
#main_section{
	padding: 20px;
	background-color: lightblue;
	box-shadow: black 0.3em 0.3em 0.3em;
}

#main_header{
	text-align: center;
	color: blue;
}

body{
	background-image: url("imgs/bg.jpg");
	background-color: white;
	background-repeat: no-repeat;
	background-size: 100%, 100%; 
	padding: 35px;
}

h1 {
    color: black;
    text-align: center;
    font-family: "Verdana";
    font-size: 40px;
    padding: 30px;
}

p {
    font-family: "Verdana";
    font-size: 20px;
    text-align: center;
}
body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}
button {
	border-radius: 8px;
	font-family: "Verdana";
    font-size: 15px;
    text-align: center;
}